@use'./color';
body{
    font-family: 'Poppins','sans-serif';
}
.navbar{
    background-color:color.$main;
    .navbar-nav .nav-link{
        font-family: 'Golos-Text';
        color: rgb(0 0 0 / 75%);
    }
.navbar-nav .nav-link :focus,
.navbar-nav .nav-link:hover
{
color: color.$hover;
}
.search{
    border-left: 1px solid black;
    svg{
        color: rgb(0 0 0 / 50%);
    cursor: pointer;
    margin-left: 23px;
    }
}
.navbar-toggler{
    color: color.$dark;
    font-size: 25px;
    border-color: rgb(0, 0, 0);
}
}
.navbar-brand{
    color:color.$dark ;
}
.shipping{
    background-color: white;
    border-top: 3px solid rgb(217, 214, 214);
    border-bottom:3px solid rgb(217, 214, 214); ;
    text-align: center;
    justify-content: center;
    display: flex;
    p{
        font-size: 13px;
        font-family: 'Golos-Text';
        color: rgb(0 0 0 / 75%);
    }
    a{
        font-size: 13px;
        font-family: 'Golos-Text';
        color: rgb(0 0 0 / 75%);
    }
}
.sections{
    a{
        text-decoration: none;
        color: color.$dark;
        font-family:'Golos-Text' ;
    }
    a:hover{
       color: color.$hover;
      }
}
.DressSec{
.btnn{
    height: 26px;
    width: 26px;
    border-width: 1px;
    border-radius: 50%;
    
}
li{
    font-family: 'Golos-Text';
    font-size: 13px;

}
.box{
    .maintitle{
        font-family: 'Golos-Text'; 
        font-size: 28px;
        text-align: center
    }   
}
p{
    font-family: 'Golos-Text'; 
    text-align: center;
    a{
        color: color.$dark;
    } 
    a:hover{
        color: color.$hover;
    }  
}
}
.product-inner-box{
    .icons{
    margin-top: 45px;
    right: 15px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    top: -3%;
    transition: all 0.2s ease-in-out, transform 0.2s ease-in-out , opacity 0.2s ease-in-out;
    opacity: 0;
    a{
        width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color:transparent;
    // border:2px dotted color.$hover;
    }
    }
    .icons :hover{
        color: color.$hover;
        font-size: 25px;
    }
    img{
        width: 100%; 
    object-fit: cover;
    }
    .sale{    
        .badge{
    background-color: rgba(223, 139, 101, 0.826);
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-family: 'Golos-Text'; 
    padding: 10px 19px;
    border-width: 20% 20% 20% 0;
    top: 50px;
    position: absolute;
        }
        .badge::before{
            border-width: 10px 0px 0px 10px;
            border-color: transparent transparent transparent rgba(224, 126, 81, 0.826);
            content: "";
            position: absolute;
            right: -8px;
            width: 0;
            bottom: 0;
            border-style: solid;
        }
        .badge::after{
            border-width: 10px 8px 0px 10px;
    border-color: rgba(224, 126, 81, 0.826) transparent transparent;
    content: "";
    position: absolute;
    right: -8px;
    width: 0;
    top: 0;
    border-style: solid;
        }

    }
}
.product-box.is-hover{
    .icons{
        transform: rotateY(-3%);
    top: 3%;
    opacity: 1;
    }
}
.product-info{
    .product-name{
        h3{
            color:color.$dark;
            font-size: 17px;
            font-family: 'Golos-Text'; 
            align-items: center;
            justify-content: center;
            display: flex;
            
        }
    }
    .product-nam{
        h3{
            color:color.$hover;
            font-size: 13px;
            font-family: 'Golos-Text'; 
            align-items: center;
            justify-content: center;
            display: flex;
            
        }
    }
    .product-price{
            color:color.$dark;
            font-size: 17px;
            font-family: 'Golos-Text'; 
            align-items: center;
            justify-content: center;
            display: flex; 
    }
    .product-colors{
        margin:auto;
        display: flex;
        justify-content: center;
        align-items: center;
        .sc-item{
        
            input{
                position: absolute;
                visibility: hidden;
            }
            %allProp{ 
                height: 20px;
                width: 20px;
                border: 1px solid #ebebeb;
                text-align: center;
                text-transform: uppercase;
                cursor: pointer;
                margin-left: 10px;

                
                }
                .red{
                   @extend %allProp;
                   background-color: rgb(255, 0, 0);
                }
                .black{
                   @extend %allProp;
                   background-color: rgb(0, 0, 0);
                }
                .blue{
                    @extend %allProp;
                    background-color: rgb(64, 126, 218);
                 }
                 .pink{
                    @extend %allProp;
                    background-color: rgb(224, 118, 178);
                 }
            
        }
    
    }
}
.Dress{
    p{
        font-family: 'Golos-Text'; 
        text-align: center;
        a{
            color: color.$dark;
        } 
        a:hover{
            color: color.$hover;
        }  
    }
    .btnnn{
        margin-left: 50px;
        height: 50%;
        width: 50%;
        border-width: 1px;
        align-items: center;
        justify-content: center;
        display: flex;
        text-align: center;
        font-family: 'Golos-Text'; 
        
        
    }
    .btnnn:hover{
        background-color: rgb(215, 195, 170);
    }
}
.shippingg{
    background-color: white;
    border-top: 3px solid rgb(217, 214, 214);
    padding-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    
    p{
        font-size: 17px;
        font-family: 'Golos-Text';
        color: rgb(0 0 0 / 75%);
    }
}
.social{  
        background-color: white;
        text-align: center;
        justify-content: center;
        display: flex;
        p{
            font-size: 18px;
            font-family: 'Golos-Text';
            color:color.$dark;
        }
}
footer{
    background-color:rgb(247, 245, 245) ;
    font-family: 'Golos-Text';
    color:color.$dark;
    align-items: center;
    justify-content: center;
    padding-left: 80px; 
    .copy-white{
        text-align: center;
        align-items: center;
        justify-content: center;
    }   
}
.socia{  
    background-color: rgb(247, 245, 245);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 280px;
    p{
        font-size: 14px;
        font-family: 'Golos-Text';
        color:color.$dark;
    }
}
#filter-widget{
	padding: 5px 15px 0;
    section:not(#fw_header){
        padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid #eee;
    }
    #fw_header{
        padding-top: 25px;
	padding-bottom: 0;
    }
    #fw-title{
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
        margin-left: -15px;
        font-family: 'Golos-Text';
    }
    .heading{
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
        font-family: 'Golos-Text';
    }
    
    #fw-type ul{
        padding: 0;
        display: block;
        margin-top: 15px;
        font-family: 'Golos-Text';
    }
    #fw-type ul li{
        list-style: none;
        margin-bottom: 18px;
        font-size: 13px;
        font-weight: 400;
        font-family: 'Golos-Text';
    }
    
    
    #fw-type .text-right{
        float: left;
        height: 13px;
        width: 13px;
        border: 1px solid #999;
        margin-right: 5px;
        margin-top: 3px;
    }
    #fw-type li.active span:first-child{
        color: rgb(224, 126, 81, 0.826);
    }
    
    #fw-type li.active span:last-child{
        background: rgb(224, 126, 81, 0.826);;
        color: #fff;
        border: 1px solid rgb(224, 126, 81, 0.826);;
        font-size: 10px;
        line-height: 100%;
        text-align: center;
    }
    
    #fw-color ul{
        padding: 0;
        display: block;
        margin-top: 15px;
    }
    #fw-color ul li{
        list-style: none;
        margin-bottom: 18px;
        font-size: 17px;
        font-weight: 400;
    }
}
.botton{
    background-color: white;
    text-align: center;
    justify-content: center;
    display: flex;
    button{
        width: 100%;
        font-family: 'Golos-Text';
        background-color: #fff;
        border: 1px solid black;
    }

}
.Dress{
    .box{
        button{
            width: 100%;
            font-family: 'Golos-Text';
            background-color: #fff;
            border: 1px solid black;
            align-items: center;
        }
    }
}
.submenu-wrap{
    position: absolute;
    top: 10%;
    right: -30%;
    z-index: 1;
    display: none;
    width: 60%;
    .sub-menu{
        background-color: rgb(255, 255, 255);
        
    }

}





